<H1>Data Science Tools and Ecosystem</H2>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular programming languages for Data Science.
- Introduce commonly used libraries in Data Science.
- Demonstrate how to create a simple table in Markdown.
- Explain how to perform basic arithmetic operations in code cells.
- Provide an overview of Jupyter Notebook's usage for data-related tasks.

Some of the popular languages that Data Scientists use are:

1. Python: Python is one of the most widely used programming languages in data science. It offers a vast ecosystem of libraries and tools specifically designed for data analysis, machine learning, and visualization
2. R: R is another language specifically designed for statistical analysis and data visualization. It has a strong community of users in academia and research
3. SQL (Structured Query Language): While not a general-purpose programming language like Python or R, SQL is essential for data scientists.

Some of the commonly used libraries used by Data Scientists include:

1. dplyr: The dplyr library is essential for data manipulation in R.
2. ggplot2: ggplot2 is a widely used data visualization library in R.
3. tidyr: The tidyr library complements dplyr and is used for tidying and reshaping data. 
4. caret: caret (Classification and Regression Training) is a versatile library for machine learning in R.

 
 | Data Science Tools|                                                                                                         
 |-------------------|
 |Jupiter Notebook   |                                                                                                         
 |RStudio            |                                                                                                          
 |Apache Zeppelin    |

<table style="border: 1px solid black;">
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>Apache Zeppelin</td>
  </tr>
</table>

Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60.
m = 200
h = m / 60
h

3.3333333333333335

## Author
Sidra Jabin